[project]
	description = Amaze UI components built with React.js.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pyiner (Pyiner)
[access "refs/for/refs/*"]
	read = group user/Pyiner (Pyiner)
	push = group user/Pyiner (Pyiner)
	label-Code-Review = -2..+2 group user/Pyiner (Pyiner)
	label-Verified = -1..+1 group user/Pyiner (Pyiner)
	rebase = group user/Pyiner (Pyiner)
	removeReviewer = group user/Pyiner (Pyiner)
	submit = group user/Pyiner (Pyiner)
[access "refs/heads/*"]
	read = group user/Pyiner (Pyiner)
	create = group user/Pyiner (Pyiner)
	push = +force group user/Pyiner (Pyiner)
	pushMerge = group user/Pyiner (Pyiner)
[access "refs/tags/*"]
	push = group user/Pyiner (Pyiner)
	push = +force group user/Pyiner (Pyiner)
